[reddit]
subreddit = depressiownsandbox
oauth_client_id = something
oauth_client_secret = something
oauth_access_code = something

[google]
token = something

[calendar]
id = something@group.calendar.google.com

[twitch]
id = something
secret = something