[reddit]
subreddit = depressiownsandbox
oauth_client_id = something
oauth_client_secret = something

[google]
token = something

[calendar]
id = something@group.calendar.google.com

[log]
file = /path/to/file.log